 # Классификация. Логистическая регрессия и SVM

In [1]:
import numpy as np
import pandas as pd # Для работы с данными
import scipy.stats # При работе со статистикой
import matplotlib.pyplot as plt  # Библиотека для визуализации результатов

## Обзор датасета

In [2]:
data = pd.read_csv('adult.csv') # датасет
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data.describe() #основные статистические метрики

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

## Логистическая регрессия

In [5]:
from sklearn.linear_model import LogisticRegression

In [6]:
# столбец sex является категориальным
# переведем значения столбца в числа, оставив один столбец
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(data['sex'])
le.classes_

KeyError: 'sex'

In [ ]:
le.transform( [' Male', ' Female', ' Male']) # пример расшифровки

In [ ]:
le.inverse_transform([1, 0, 1])

In [ ]:
#  записываем преобразованный столбец sex
data['sex'] = le.transform(data['sex'])
data.head()

In [ ]:
# переведем значения категориальных переменных в 0 и 1, добавив столбцы с соответствующими названиями
X = pd.get_dummies (data = data, columns = ['workclass', 'education', 'marital-status', 
                                            'occupation', 'relationship', 'race', 'native-country'])

# столбец income является целевой переменной, удаляем его из Х
del X['income']

In [ ]:
# целевая переменная (столбец income) является категориальной 
# переведем значения столбца в числа, оставив один столбец
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit( data['income'])
le.classes_

In [ ]:
le.transform( [' <=50K', ' >50K', ' <=50K']) # пример расшифровки

In [ ]:
le.inverse_transform([1, 0, 1])

In [ ]:
#  записываем в таргетную переменную y преобразованный столбец income
y = pd.Series (data = le.transform(data['income']))
y.head()

In [ ]:
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 

model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

In [ ]:
model = LogisticRegression() # берем в качестве модели логистическую регресиию из scikit-learn

**<p>**Шаг 2 Текст, выделенный полужирным шрифтом. Обучение. Поделим данные на обучающую выборку и тестовую. Указываем в test_size долю датасета, которая пойдет на тестовую выбору</p**>**

In [ ]:
#поделим данные на обучающую выборку и тестовую в соотношении 30/70
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# обучаем на части датасета (train)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [ ]:
predictions[:5] # посмотрим как выглядят наши предсказания

In [ ]:
model.predict(X_test) # получаем массив

In [ ]:
model.predict_proba(X_test)

In [ ]:
#получаем наш скор (точность предсказания) на обучающей и тестовой выборках.
model.score(X_train, y_train)

In [ ]:
model.score(X_test,y_test)

## Метод опорных векторов. SVM.

In [ ]:
from sklearn.svm import SVC
# используем пайплайны
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

In [ ]:
#получаем скор для обучающей и тестовой выборок 
clf.score(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)

In [ ]:
#результат без StandardScaler имеет более нестабильные показатели
svc = SVC(gamma='auto')
svc.fit(X_train, y_train)

In [ ]:
svc.score(X_train, y_train)

In [ ]:
svc.score(X_test, y_test)